.comics-header {
  width: 100%;
  height: 70vh;
  background-image: url("../../assets/comic-header.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.comics-header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ch-wrap {
  width: 550px;
  height: 400px;
  background-image: url("../../assets/comics-header-comp.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 1rem;
}
.ch-wrap h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ch-wrap h1 span {
  font-size: 30px;
  color: var(--dark-red);
}

.comics-store {
  height: 100vh;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comics-store h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 1000;
  font-style: italic;
}
.comic-store-books {
  padding: 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem 0;
}
.comic-store-card {
  place-self: center;
}
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  .comics-header {
    height: 60vh;
    background-size: cover;
  }
  .ch-wrap {
    width: 500px;
    height: 350px;
  }
}

/* sm */
@media (max-width: 640px) {
  .ch-wrap h1 {
    font-size: 30px;
  }
  .ch-wrap h1 span {
    font-size: 25px;
  }
}

/* xs */
@media (max-width: 475px) {
  .comics-header {
    height: 50vh;
  }
  .ch-wrap {
    width: 300px;
    height: 200px;
    padding: 1rem 0 0;
  }
  .ch-wrap h1 {
    font-size: 20px;
  }
  .ch-wrap h1 span {
    font-size: 18px;
  }
}
