#bookstore {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#books-header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}
#books-header select {
  width: 9rem;
  height: 2rem;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
#books-wrapper {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 20% 80%;
}
#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem 0;
}
#filter {
  padding-left: 0.5rem;
}
#select-filter {
  padding: 1rem 0;
  border-top: 2px solid rgba(0, 0, 0, 0.13);
}
#select-filter select {
  width: 8rem;
  height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-top: 1rem;
}
#select-filter option {
  padding: 1rem;
}
.sf-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}
.sf-wrapper > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-card {
  padding: 0 1rem;
  width: 13rem;
  height: 27rem;
  display: grid;
  grid-template-rows: 18rem 4rem 1rem 4rem;
  grid-gap: 0.1rem 0;
}
.item-card a {
  color: black;
  text-decoration: none;
}
.item-card img {
  width: 13rem;
  height: 98%;
  box-shadow: 0px 0px 15px #585858;
}
.item-card img:hover {
  box-shadow: 0px 0px 25px #585858;
}
.item-card-btn {
  width: 100%;
}
/* NOTE: PRODUCT */
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.product a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  font-weight: 800;
  align-items: center;
}
.product-go-back {
  width: 960px;
  display: flex;
  justify-content: start;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.product-wrapper {
  width: 800px;
  margin: auto;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.product-wrapper img {
  width: 300px;
  height: 450px;
  box-shadow: 0px 0px 15px #000000;
}
.product-content {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-content h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}
.product-content h4 {
  color: rgb(128, 128, 128);
}
.product-content h4:hover {
  color: #7d0a0a;
}
.product-content p {
  padding: 0.3rem 0;
}
.product-content a {
  color: #7d0a0a;
}
.product-related-books {
  width: 960px;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.product-related-books > div {
  display: flex;
  justify-content: space-between;
}

/* SECTION: */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
  #books-wrapper {
    width: 100%;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(5rem, auto);
  }

  #filter > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #select-filter {
    padding: 0.5rem 0;
  }
  #select-filter select {
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin-top: 0;
    /* FIXME: */
  }
  #select-filter option {
    padding: 1rem;
  }
  .sf-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  }
  .sf-wrapper > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
