#cart-modal {
  margin: 5% auto;
  width: 960px;
  height: 80%;
  border: 0;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 8px;
}
.cart-modal-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
#cart-modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
.cart-products {
  padding: 2rem;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}
.cart-checkout {
  padding: 8rem 2rem;
}
.cart-summary {
  background-color: var(--beige);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cs-sub {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-content: start;
}
.cart-summary-btn {
  margin-top: 0.5rem;
  width: 22rem;
  height: 4rem;
  background-color: var(--dark-red);
  color: white;
  border: 0;
  border-radius: 0.5em;
  font-size: 16px;
}
.cart-summary-btn:hover {
  background-color: #6e0a0a;
  cursor: pointer;
}
.cart-go-back {
  color: rgba(0, 0, 0, 0.6);
  border: 0;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}
.cart-go-back:hover {
  color: rgba(0, 0, 0, 0.7);
}

#shopping-cart {
  padding: 2rem 0.5rem 0 0;
  overflow: auto;
  height: 25rem;
}

.cart-item {
  padding: 0.3rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}
.cart-item img {
  width: 4rem;
}
.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-item-content h5 {
  color: rgb(128, 128, 128);
}
.cart-item-quantity {
  place-self: center;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 20px;
}
.cart-item-quantity i {
  color: rgba(0, 0, 0, 0.185);
  cursor: pointer;
}
.cart-item-quantity i:hover {
  color: rgba(0, 0, 0, 0.3);
}
.cart-item-price {
  place-self: center;
}
.cart-remove {
  cursor: pointer;
  place-self: center;
}
.cart-remove:hover {
  color: var(--dark-red);
}
/* SCROLL */
#shopping-cart::-webkit-scrollbar {
  width: 0.3em;
}
#shopping-cart::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
#shopping-cart::-webkit-scrollbar-thumb {
  background-color: var(--dark-red);
}
