#cart-modal {
  margin: auto auto;
  height: 80vh;
  border: 0;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 8px;
}
.cart-modal-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 90%;
}
#cart-modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
.cart-products {
  padding: 2rem;
}
.cart-title {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-checkout {
  padding: 8rem 2rem;
}
.cart-summary {
  background-color: var(--beige);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  width: 18rem;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px #585858;
}
.cs-sub {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-content: start;
}
.cart-summary-btn {
  margin-top: 0.5rem;
  width: 22rem;
  height: 4rem;
  background-color: var(--dark-red);
  color: white;
  border: 0;
  border-radius: 0.5em;
  font-size: 16px;
  box-shadow: 0px 0px 5px #6e0a0a;
}
.cart-summary-btn:hover {
  background-color: #6e0a0a;
  cursor: pointer;
}
.cart-go-back {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  border: 0;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  background-color: transparent;
}
.cart-go-back:hover {
  color: rgba(0, 0, 0, 0.7);
}

#shopping-cart {
  padding: 2rem 0.5rem 0 0;
  overflow: auto;
  min-height: 20rem;
  max-height: 25rem;
}

.cart-item {
  padding: 0.3rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}
.cart-item img {
  width: 4rem;
}
.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-item-content h5 {
  color: rgb(128, 128, 128);
}
.cart-item-quantity {
  place-self: center;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 20px;
}
.cart-item-quantity i {
  color: rgba(0, 0, 0, 0.185);
  cursor: pointer;
}
.cart-item-quantity i:hover {
  color: rgba(0, 0, 0, 0.3);
}
.cart-item-price {
  place-self: center;
}
.cart-remove {
  cursor: pointer;
  place-self: center;
}
.cart-remove:hover {
  color: var(--dark-red);
}
/* SCROLL */
#shopping-cart::-webkit-scrollbar {
  width: 0.3em;
}
#shopping-cart::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
#shopping-cart::-webkit-scrollbar-thumb {
  background-color: var(--dark-red);
}

@media (max-width: 1024px) {
  #shopping-cart {
    padding: 0;
    height: 70%rem;
  }
  #cart-modal {
    height: 90vh;
    width: 90vw;
  }
  .cart-modal-wrapper {
    display: flex;
    flex-direction: column;
  }
  .cart-products {
    padding: 0.5rem 0.5rem;
  }
  .cart-checkout {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-summary {
    padding: 0.5rem 2rem;
    width: 18rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 475px) {
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .cart-item img {
    place-self: center;
  }
  .cart-item-content {
    grid-area: 1 / 2 / 2 /4;
  }
}
@media (max-width: 400px) {
  .cart-title {
    padding: 0.5rem 0.2rem 0;
  }
  .cart-title h1 {
    font-size: 23px;
  }
  .cart-products {
    padding: 0 0 2rem;
    height: 45vh;
  }
  .cart-checkout {
    padding: 0;
  }
  .cart-summary {
    padding: 0.5rem;
    width: 90%;
    height: 12rem;
  }
  .cart-summary-btn {
    margin-top: 0.5rem;
    width: 95%;
    height: 4rem;
    font-size: 16px;
  }
}
