#cart-modal {
  margin: 5% auto;
  width: 960px;
  height: 80%;
  border: 0;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 8px;
}
.cart-modal-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
#cart-modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
.cart-products {
  padding: 2rem;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}
.cart-checkout {
  padding: 2rem;
  background-color: var(--beige);
}
