#landing-page {
  width: 100%;
  height: 70vh;
  background-color: #f3edc8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
}
#lp-div {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.lp-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
}
.lp-text h1 {
  font-size: 60px;
  font-weight: 400;
  color: #7d0a0a;
}
.lp-text p {
  font-size: 18px;
}
.lp-text span {
  color: #7d0a0a;
  font-weight: 700;
}
.lp-text button {
  padding: 0.5rem 0.5rem;
  width: 11rem;
  border-radius: 10rem;
  border: 0;
  text-align: center;
  background-color: #7d0a0a;
  color: #f3edc8;
  font-size: 20px;
  text-transform: uppercase;
}
.lp-image {
  display: flex;
  align-items: center;
  justify-content: end;
}
.lp-image img {
  width: 500px;
  height: 500px;
}
@media (min-width: 300px) and (max-width: 600px) {
  #lp-div {
    width: 95%;
    grid-template-columns: 1fr;
  }
  .lp-image {
    display: none;
  }
  .lp-text h1 {
    font-size: 40px;
  }
  .lp-text button {
    width: 9rem;
    font-size: 16px;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  #lp-div {
    width: 100%;
  }
  .lp-text h1 {
    font-size: 30px;
  }
  .lp-text p {
    font-size: 16px;
  }
  .lp-image img {
    width: 300px;
    height: 300px;
  }
  .lp-text button {
    width: 9rem;
    font-size: 16px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  #lp-div {
    width: 90%;
  }
  .lp-image img {
    width: 350px;
    height: 350px;
  }
  .lp-text h1 {
    font-size: 40px;
  }
  .lp-text p {
    font-size: 16px;
  }
}
@media (min-width: 1000px) and (max-width: 1400px) {
  #lp-div {
    width: 90%;
  }
}
