#navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  background-color: #f3edc8;
}
#navbar h1 {
  color: #7d0a0a;
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

#navbar ul li a:hover {
  border-bottom: 1px solid #7d0a0a;
}

.nav-links {
  text-decoration: none;
}
.nav-search-cart {
  display: flex;
  justify-content: end;
  gap: 1em;
}
#comic-link {
  color: #7d0a0a;
}
