#navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #f3edc8;
}
#navbar > div {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem 0.5rem 0rem;
  width: 80%;
}
#navbar h1 {
  color: #7d0a0a;
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  /* border-radius: 1rem 1rem 0.5rem 0.5rem; */
}

#navbar ul li a:hover {
  border-bottom: 1px solid #7d0a0a;
  /* background-color: #ead196; */
}
.nav-links {
  text-decoration: none;
}
.nav-links img {
  width: 200px;
}
.nav-search-cart {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1em;
}
.comic-link {
  color: #7d0a0a;
  font-weight: 700;
}
#navbar .dropdown-menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.6rem;
}
#navbar .dropdown-menu span {
  height: 0.25rem;
  width: 100%;
  background-color: #7d0a0a;
  border-radius: 0.5rem;
}

@media (max-width: 800px) {
  #navbar .dropdown-menu {
    display: flex;
  }
  #navbar {
    flex-direction: column;
    align-items: start;
  }
  #navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  #navbar ul.open {
    display: flex;
  }
  #navbar ul li {
    width: 100%;
    text-align: center;
  }
  .nav-search-cart {
    position: absolute;
    right: 4rem;
    top: 0.5;
  }
}
