footer {
  width: 100%;
  height: 20vh;
  background-color: #7d0a0a;
  padding: 5rem 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
}
.footer img {
  width: 300px;
}
.footer hr {
  width: 700px;
}
.footer-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.footer-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .footer hr {
    width: 350px;
  }
  .footer-links {
    width: 300px;
  }
  .footer img {
    width: 230px;
  }
}
@media (max-width: 475px) {
  .footer hr {
    width: 300px;
  }
  .footer-links {
    width: 270px;
  }
  .footer img {
    width: 200px;
  }
}
@media (max-width: 350px) {
  .footer {
    width: 290px;
  }
  .footer hr {
    width: 250px;
  }
  .footer-links {
    width: 270px;
  }
  .footer img {
    width: 200px;
  }
}
